service firebase.storage {
  match /b/wisteria-life-build3.appspot.com/o {
    match /{userId}/{fileName}{
      allow write: if request.auth.uid == userId;
      allow read;
    }    
  }
}