</div> <!-- end container -->
<!-- Modal Structure -->
<div id="confirmation-modal" class="modal">
    <div class="modal-content">
      <h4>Warning - Are you sure you want to Log-in?</h4>
      <p>By logging in you will be merging your guest account data with the account data on your user account. If you already have an account with us, we recommend that you log out of the guest account first before logging in. Logging in to your user account with guest data is ONLY recommended if you wish to reset your user account data.</p>
    </div>
    <div class="modal-footer">                      
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <button id="guest-proceed-login" class=" modal-action modal-close waves-effect waves-green btn-flat">Proceed</button>
    </div>
</div>
<!-- screen transition spinning loader -->
<div id="loading-overlay">
    <div id="container-loader">
        <div class="loader"></div>
    </div>
</div>

</body>
</html>
