<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= title %> - Wisteria Life</title>

    <meta name="theme-color" content="#c9a0dc">

    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Facebook -->
    <meta property="og:url"                content="https://wisteria-life-build2.appspot.com"/>
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Wisteria Life" />
    <meta property="og:description"        content="A zombie plague encroaches on the kingdom of Wisteria, and you are responsible for the safety and well-being of your people. Play Wisteria Life now!" />
    <!-- <meta property="og:image"              content="" /> -->

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Material Design Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/1.7.22/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />

    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- CSS including Materialize -->
    <link rel="stylesheet" href="/css/wisteria.css"/>

    <!-- Custom JavaScript -->
    <script src="/js/wisteria.js"></script>

    <!-- Pixi.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.1.0/pixi.min.js"></script>

</head>

<body>

    <% include menu %>

    <div id="main-container" class="container">
