<!-- Global Nav Bar -->
<nav>
    <div id="wisteria-nav" class="nav-wrapper">
        <ul id="nav-mobile" class="left">
            <li id="account">
                <a href="#!" id="user-menu" data-activates="user-dropdown">
                    <i class="wisteria-icons left mdi mdi-account"></i>
                    R. Boxman</a>
            </li>
        </ul>

        <div id="user-dropdown" class="dropdown-content card">

            <div id="user-dropdown-inner">
                <div id="user-dropdown-header" class="cf">
                    <div id="user-icon"><i class="wisteria-icons mdi mdi-account"></i></div>
                    <div id="user-title">
                        <span class="user-name">R. Boxman</span>
                        <span class="user-level">Level 4</span>
                    </div>
                </div>

                <div id="user-action" class="cf">
                    <a href="#!" id="profile-link" class="waves-effect btn-flat">
                        Profile
                    </a>

                    <a href="#!" id="drop-loginout">
                        <i class="wisteria-icons mdi mdi-power"></i>
                    </a>
                </div>
            </div>

        </div>

        <a href="/" id="logo" class="brand-logo center"></a>
        <ul id="nav-mobile" class="right">
            <li id="nav-wistbux">
                <a href="#">
                    <span class="wistbux">
                        <span class="strike">W</span>
                    </span>
                    <span class="wistbux-count">
                        9,999
                    </span>
                </a>
            </li>

            <!-- Hamburger Menu - TODO -->
            <li id="hamburger">
                <a href="#!" id="hamburger-vert" data-activates="hamburger-dropdown">
                    <i class="wisteria-icons mdi mdi-dots-vertical"></i>
                </a>
            </li>
        </ul>

        <ul id="hamburger-dropdown" class="dropdown-content">
            <li>
                <a href="#!" id="drop-back"><i class="wisteria-icons mdi mdi-keyboard-backspace"></i></a>
            </li>
            <li>
                <a href="/store" id="drop-store"><i class="wisteria-icons mdi mdi-store"></i></a>
            </li>
            <li>
                <a href="#!" id="drop-mute"><i class="wisteria-icons mdi mdi-volume-off"></i></a>
            </li>
            <li>
                <a href="/about" id="drop-about"><i class="wisteria-icons mdi mdi-information"></i></a>
            </li>
        </ul>
    </div>
</nav>
