<!-- Global Nav Bar -->
<nav>
    <div id="wisteria-nav" class="nav-wrapper">
        <ul id="nav-mobile" class="left">
            <li id="account">
                <div class="user-dropdown-button dropdown-button" data-activates="user-dropdown">
                    <a href="#!" class="user-pic"></a>
                    <a href="#!" class="user-name"></a>
                </div>
            </li>
        </ul>

        <div id="user-dropdown" class="dropdown-content card">

            <div id="user-dropdown-inner">
                <div id="user-dropdown-header" class="cf">
                    <div class="user-pic" id="user-icon-pic"><a href="#!" id="user-pic-drop"></a></div>
                    <div id="user-title">
                        <span class="user-name" id="user-name-dropdown">Guest</span>
                        <span class="user-level" id="user-level">Level 0</span>
                    </div>
                </div>

                <div id="user-action" class="cf">
                    <a href="#!" id="profile-link" class="waves-effect btn-flat">
                        Profile
                    </a>

                    <a href="#!" class="drop-logout logout-button">
                        <i class="wisteria-icons mdi mdi-power"></i>
                    </a>
                    <a href="#!" class="drop-login login-button">
                        <i class="wisteria-icons mdi mdi-login"></i>
                    </a>
                    <a href="#!" class="drop-login-guest guest-login">
                        <i class="wisteria-icons mdi mdi-login"></i>
                    </a>
                </div>
            </div>

        </div>

        <a href="/" id="logo" class="brand-logo center"></a>
        <ul id="nav-mobile" class="right">
            <li id="nav-wistbux">
                <a href="#">
                    <span class="wistbux">
                        <span class="strike">W</span>
                    </span>
                    <span class="wistbux-count">
                        <span class="user-wistbux">0</span>
                    </span>
                </a>
            </li>

            <!-- Hamburger Menu - TODO -->
            <li id="hamburger">
                <a href="#!" id="hamburger-vert" data-activates="hamburger-dropdown">
                    <i class="wisteria-icons mdi mdi-dots-vertical"></i>
                </a>
            </li>
        </ul>

        <ul id="hamburger-dropdown" class="dropdown-content">
                <a href="#!" class="drop-back"><i class="wisteria-icons mdi mdi-keyboard-backspace"></i></a>
                <a href="/store" class="drop-store"><i class="wisteria-icons mdi mdi-store"></i></a>
                <a href="#!" class="drop-mute"><i class="wisteria-icons mdi mdi-volume-off"></i></a>
                <a href="#!" class="drop-sound"><i class="wisteria-icons mdi mdi-volume-high"></i></a>
                <a href="/about" class="drop-about"><i class="wisteria-icons mdi mdi-information"></i></a>
        </ul>
    </div>
</nav>

<!-- Mobile Menu -->

<div id="mobile-menu-activate">
    <a href="#!" id="mobile-menu-button" data-activates="mobile-menu" class="button-collapse"><i class="wisteria-icons mdi mdi-menu"></i></a>
</div>
<ul id="mobile-menu" class="side-nav">
    <li><div class="userView">
        <div class="background">
            <img src="/img/wisteria-tunnel.jpg">
        </div>
        <div class="cf">
            <div class="user-pic" id="user-icon-pic"><a href="#!" id="user-pic-drop"></a></div>
            <div id="wistbux-count-mobile">
                <span class="wistbux">
                    <span class="strike">W</span>
                </span>
                <span class="wistbux-count">
                    <span class="user-wistbux">0</span>
                </span>
            </div>
        </div>

        <a href="#!name"><span class="white-text name user-name">Guest</span></a>
        <a href="#!email"><span class="white-text email user-email"></span></a>
    </div></li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Wisteria Life</a></li>

    <li>
        <a class="waves-effect" href="/">
            <i class="wisteria-icons mdi mdi-home"></i> Home
        </a>
    </li>

    <li><div class="divider"></div></li>

    <li class="drop-back">
        <a class="waves-effect" href="#!">
            <i class="wisteria-icons mdi mdi-keyboard-backspace"></i> Back
        </a>
    </li>

    <li class="drop-store">
        <a class="waves-effect" href="/store">
            <i class="wisteria-icons mdi mdi-store"></i> Ye Old Shoppe
        </a>
    </li>

    <li class="drop-mute">
        <a class="waves-effect" href="#!">
            <i class="wisteria-icons mdi mdi-volume-off"></i> Mute Sounds
        </a>
    </li>

    <li class="drop-sound">
        <a class="waves-effect" href="#!">
            <i class="wisteria-icons mdi mdi-volume-high"></i> Unmute Sounds
        </a>
    </li>

    <li class="drop-about">
        <a class="waves-effect" href="/about">
            <i class="wisteria-icons mdi mdi-information"></i> About
        </a>
    </li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Account</a></li>

    <li class="logout-button">
        <a href="#!" class="waves-effect">
            <i class="wisteria-icons mdi mdi-power"></i> Logout
        </a>
    </li>

    <li class="login-button">
        <a href="#!" class="waves-effect">
            <i class="wisteria-icons mdi mdi-google"></i> Login with Google
        </a>
    </li>

    <li class="guest-login">
        <a href="#!" class="waves-effect">
            <i class="wisteria-icons mdi mdi-google"></i> Login with Google
        </a>
    </li>
</ul>
