/**
 * Top nav bar and overflow menu
 */
nav {
    position: fixed;
    z-index: 20;

    #logo {
        background: url('/img/logo.png') no-repeat;
        background-size: contain;
        margin: 5px;
        display: inline-block;
        width: 50px;
        height: $navbar-height-mobile;

        @media #{$medium-and-up} {
            height: $navbar-height;
        }
    }
}

#wisteria-nav {
    background-color: #000;

    #logo {
        color: $primary-color;
    }

    #user-menu {
        font-size: 1.2rem;
    }

    #user-dropdown {
        width: 100px;
        min-width: 200px;
        height: 115px;
        overflow: hidden;

        #user-dropdown-header {
            vertical-align: middle;
            padding: 10px;
        }

        #user-icon {
            width: 50px;
            height: 50px;
            display: inline-block;
            float: left;

            i {
                font-size: 3em;
                vertical-align: middle;
                line-height: 50px;
            }
        }

        #user-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #989898;

            span {
                display: block;
                line-height: 25px;
                vertical-align: middle;
                font-size: 1.1rem;
            }
        }

        #user-action {
            background-color: #eee;
            padding: 10px;
            height: 45px;
            vertical-align: middle;

            a {
                display: inline-block;
                padding: 0;
                margin: 0;
            }

            #profile-link {
                float: left;
                font-size: 1.2em;
                height: 25px;
                line-height: 25px;
                color: #999;

                &:hover {
                    color: #000;
                }
            }

            #drop-loginout {
                font-size: 1.5em;
                float: right;

                i {
                    line-height: 25px;
                    height: 25px;
                }
            }
        }
    }

    #nav-wistbux {
        vertical-align: middle;

        .wistbux {
            font-size: 1.8rem;
            vertical-align: middle;

            &+span {
                vertical-align: middle;
                font-size: 1.2rem;
            }
        }
    }

    .dropdown-content {
        min-width: 50px;

        li:hover, a:hover {
            background-color: transparent;
        }

        i {
            color: $primary-color;
            @include transition(all 0.3s ease-in);
        }

        i:hover {
            color: #000;
        }
    }
}
