<% include partials/header %>

<div id="splash-screen-logged-in" class="container-inner">
    <!-- Page Content goes here -->
    <h2 id="splash-title">404 Not Found</h2>

    <div class="row">
        <div class="col s6">
            <p><%= message %></p>
        </div>
    </div>

</div>

<% include partials/footer %>
