<% include partials/header %>

<!-- Page Content goes here -->
<div id="about-save-level-screen" class="screen-overlay container-inner">
    <div class="row">
        <div class="col s4">
            <p>About<p>
            <span class="about-body-text-build">Version 1.0 Build 1</span>
        </div>
        <div class="col s1"></div>
        <div class="col s7">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header">Storyline<i class="collapse-icon wisteria-icons right mdi mdi-chevron-down"></i></div>
                  <div class="collapsible-body">
                    <span class="about-body-text">
                        A zombie plague encroaches on the kingdom of Wisteria, and YOU are responsible for the safety and well-being of YOUR people.
                    </span>
                </div>
                </li>
                <li>
                  <div class="collapsible-header">Rules<i class="collapse-icon wisteria-icons right mdi mdi-chevron-down"></i></div>
                  <div class="collapsible-body">
                    <span class="about-body-text">
                        On the gameplay screen, you can press the play button when you are ready to begin the level.
                        Once you are playing, the play button turns into a pause button that can be used to pause the level.
                        A game level is played entirely on a grid canvas. The color wisteria represents the your structures and forces,
                        while other colors represent enemies. White cells are unoccupied cells. The levels begin with several of your
                        defense structures already placed, which you will have to defend. Enemy units will spawn on the game canvas
                        in certain areas and move toward the your defense structures. If an enemy unit comes into contact with a
                        defense structure, one of the defense structure's cells will die.
                        <br><br>
                        If at any point in the time all of your defense structures are destroyed, you lose the level.
                        You win the level by successfully protecting your defense structures for a predetermined amount of time.
                        Each level awards a number of Wistbux when won. Rewards are only given ONCE for each level.
                        <br>
                        <br>
                        On the Game Map, there are four regions, each of which has 9 regular levels, progressing in difficulty,
                        followed by a 10th level boss fight. You must win a level before unlocking the next level. If a level is too hard,
                        you can use power-ups to assist you. Power-ups can be accessed from the Power-ups dropdown menu and purchased from the game store using Wistbux.
                    </span>
                    </div>
                </li>
                <li>
                  <div class="collapsible-header">Developers<i class="collapse-icon wisteria-icons right mdi mdi-chevron-down"></i></div>
                  <div class="collapsible-body">
                    <span class="about-body-text">RAZY Enterprises™</span>
                    <span class="about-body-text">Yael Romero</span>
                    <span class="about-body-text">Yuliya Astapova</span>
                    <span class="about-body-text">Wendy Zheng</span>
                    <span class="about-body-text">Brian Yang</span>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">Consultants<i class="collapse-icon wisteria-icons right mdi mdi-chevron-down"></i></div>
                  <div class="collapsible-body">
                    <span class="about-body-text">Richard McKenna</span>
                  </div>

                </li>
            </ul>
        </div>
    </div>
</div>

<% include partials/footer %>
