<% include partials/header %>
<!-- Test Ad being an overlay -->

<!-- Page Content goes here -->
<div id="ad-screen" class="container-inner screen-overlay">
    <a href="gameplay">
        <i class="wisteria-icons close mdi mdi-close"></i>
    </a>
    <img id="ad" src="/img/far-beyond.jpg">
</div>

<% include partials/footer %>
