<% include partials/header %>
<!-- Test Ad being an overlay -->

<!-- Page Content goes here -->
<div id="ad-screen" class="container-inner screen-overlay">
    <a href="gameplay">
        <i class="wisteria-icons close mdi mdi-close"></i>
    </a>
    <img id="ad" src="/img/far-beyond.jpg">
</div>

<div id="level-story-screen" class="container-inner">
    <div align="center">
        <h2 id="level-story-title">The Rise of the Scarlet</h2>
        <p id="level-story-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a orci non massa sodales aliquam eget vitae nunc. Sed at tortor sed elit mattis auctor. Nulla erat odio, molestie eu nunc ut, ultrices ultrices nisl.
            Quisque rutrum ornare tempus. Nam facilisis sollicitudin neque sit amet laoreet. Duis dapibus vel metus sed porta. Nulla condimentum magna in feugiat egestas. Praesent quis lorem condimentum, luctus lectus et, pharetra massa. Nulla commodo magna
            ante, eu rutrum nulla bibendum maximus. Nam fringilla sem ut libero cursus ultricies. Curabitur tincidunt accumsan nunc quis porttitor. Fusce consectetur sapien in magna condimentum, in efficitur ante varius. Morbi porttitor egestas iaculis. Praesent
            id euismod arcu. Suspendisse dignissim euismod enim, et suscipit nibh eleifend quis.</p><br><br><br><br>
        <div id="level-story-buttons">
            <a href="#" id="story-start" class="waves-effect waves-light btn-large">Start</a>
        </div>
    </div>
    <div align="right">
        <h2 id="level-story-number">Level 1</h2>
    </div>
</div>

<% include partials/footer %>
