<% include partials/header %>
<!-- Page Content goes here -->
<div id="defeat-pause-victory-screen" class="container-inner screen-overlay">
    <div class="center-all">
        <span id="defeat-pause-victory-title">DEFEAT!</span>
        <span class="defeat-pause-victory-note">
            <span class="defeat-pause-victory-text">Perhaps a Powerup?</span>
            <a href="/store.html" id="drop-store"><i class="material-icons store">store</i></a>
        </span>
        <span class="defeat-pause-victory-icons">
            <a href="level-select.html"><i class="material-icons back">play_arrow</i></a>
            <a href="gameplay.html"><i class="material-icons replay">replay</i></a>
            <a><i class="material-icons share">share</i></a>
            <a><i class="material-icons disabled">play_arrow</i></a>
        </span>
    </div>
</div>

<!-- GAMEPLAY SCREEN -->
<div id="gameplay-screen" class="container-inner" align="center">
    <div class="toolbar top">
        <span class="toolbar-content">
            <div class="padder">
                <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                </div>
            </div>
            <span class="toolbar-text">0:30</span>
        </span>
    </div>
    <div class="canvas">
        <canvas id="gameplay-canvas" class="game-canvas"></canvas>
    </div>
    <div class="toolbar bottom">
        <span class="toolbar-content">
            <div class="bottom align">
                <a href="pause.html"><i class="material-icons play">pause</i></a>
            </div>
            <!-- Dropdown Trigger -->
            <div class="bottom align">
                <a class='dropdown-button btn small' href='#' data-activates='shapes'>Shapes</a>
            </div>

            <!-- Dropdown Structure -->
            <ul id='shapes' class='dropdown-content'>
                <li><a href="#!">Archer &nwarr;</a></li>
                <li><a href="#!">Archer &nearr;</a></li>
                <li><a href="#!">Archer &swarr;</a></li>
                <li><a href="#!">Archer &searr;</a></li>
                <li><a href="#!">Infantry &uarr;</a></li>
                <li><a href="#!">Infantry &darr;</a></li>
                <li><a href="#!">Infantry &rarr;</a></li>
                <li><a href="#!">Infantry &larr;</a></li>
            </ul>

            <!-- Dropdown Trigger -->
            <div class="bottom align">
                <a class='dropdown-button btn small' href='#' data-activates='powerups'>Powerups</a>
            </div>

            <!-- Dropdown Structure -->
            <ul id='powerups' class='dropdown-content'>
                <li><a href="#!">Reduce Time</a></li>
                <li><a href="#!">Reduce Enemy Spawns</a></li>
                <li><a href="#!">Void Cell</a></li>
            </ul>

            <div class="bottom align">
                <a href="victory.html"><i class="material-icons lock">lock</i></a>
            </div>
        </span>
    </div>
</div>

<% include partials/footer %>
