<% include partials/header %>

<!-- Page Content goes here -->

<div id="defeat-pause-victory-screen" class="container-inner screen-overlay">
    <div class="center-all">
        <audio preload="none">
            <source src="/sounds/gameplay/decapheadblood.mp3" type="audio/mpeg">
        </audio>
        <span id="defeat-pause-victory-title">DEFEAT!</span>
        <span class="defeat-pause-victory-note">
            <span class="defeat-pause-victory-text">Perhaps a Powerup?</span>
            <a href="/store" id="drop-store"><i class="wisteria-icons store mdi mdi-store"></i></a>
        </span>
        <span class="defeat-pause-victory-icons">
            <a href="/level-select" data-region="<%= region %>"><i class="wisteria-icons back mdi mdi-step-backward"></i></a>
            <a href="/gameplay" data-level="<%= level %>"><i class="wisteria-icons replay mdi mdi-replay"></i></a>
            <a id="share" href="#!"><i class="wisteria-icons share mdi mdi-share-variant"></i></a>
            <a><i class="wisteria-icons disabled mdi mdi-play"></i></a>
        </span>
    </div>
</div>

<% include partials/footer %>
