<% include partials/header %>

<!-- Page Content goes here -->
<div id="tutorial-editor-overlay-screen" class="container-inner screen-overlay">
	<div id="tutorial-editor-overlay-inner" class="row center">
		<span id="tutorial-editor-overlay-title">Rules</span>
		<span class="tutorial-editor-overlay-note tutorial-editor-overlay-text">
		Here you will learn everything about how to use the level editor.
	    <br>
	    <button id="editor-play" class="waves-effect waves-light btn-large">Start</button>
	    </span>
        <table>
				<tr>
					<th><i class="wisteria-icons units mdi mdi-shape-plus"></i>
					<th>Denotes the Units accordion. Select a unit from the available units. This will be expanded by default.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons colors mdi mdi-format-paint"></i>
					<th>Denotes the Factions accordion. Select a faction for the selected unit. </th>
				</tr>
				<tr>
					<th><i class="wisteria-icons save mdi mdi-content-save"></i>
					<th>Save button - save your level.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons tback mdi mdi-step-backward"></i>
					<th>Back button - choose another level. Displayed after victory/defeat.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons treplay mdi mdi-replay"></i>
					<th>Replay button - replay the level. Displayed on pause/victory/defeat.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons tshare mdi mdi-share-variant"></i>
					<th>Share button - share on social media. Displayed on victory/defeat.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons thelp mdi mdi-help"></i>
					<th>Help button - access this help page. Displayed on pause.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons tnext mdi mdi-play"></i>
					<th>Next button - play the next level. Displayed on victory.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons tplay mdi mdi-lock"></i>
					<th>Cheat code button - enter a cheat code. Located on the left of the time toolbar.</th>
				</tr>

	    <table>
	</div>
</div>

<% include partials/footer %>
