<% include partials/header %>

<!-- Page Content goes here -->
<div id="tutorial-editor-overlay-screen" class="container-inner screen-overlay">
	<div id="tutorial-editor-overlay-inner" class="row center">
		<span id="tutorial-editor-overlay-title">Tutorial</span>
		<span class="tutorial-editor-overlay-note tutorial-editor-overlay-text">
		To create a new level, first specify how long the level will be in the "Total Time" box on the top right corner. The time entered must be between 30 and 300 seconds. Then, use the slider on the timeline to determine which units appear at the specified time. <br>
		<b>Note</b>: the display of time in the middle of the slider specifies how much time is left in the level.
	    <br>
	    <button id="editor-play" class="waves-effect waves-light btn-large"><i class="wisteria-icons left mdi mdi-pencil"></i> Start</button>
	    </span>
        <table>
				<tr>
					<th><i class="wisteria-icons units mdi mdi-shape-plus"></i></th>
					<th>Denotes the Units accordion. Select a unit from the available units. This will be expanded by default.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons colors mdi mdi-format-paint"></i></th>
					<th>Denotes the Factions accordion. Select a faction for the selected unit. </th>
				</tr>
				<tr>
					<th><i class="wisteria-icons delunit mdi mdi-backspace"></i></th>
					<th>Delete unit button - once clicked, click anywhere on the unit to be removed to delete it.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons addmessage mdi mdi-message-text"></i></th>
					<th>Add Message button - once you have the time slider placed, click to add a message to the level at that time.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons save mdi mdi-content-save"></i></th>
					<th>Save button - save your level and add preferences.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons discard mdi mdi-delete"></i></th>
					<th>Discard button - abandon unsaved progress in editing a level.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons size mdi mdi-move-resize-variant"></i></th>
					<th>Size button - resize the grid. This will delete unsaved progress.</th>
				</tr>
	    </table>
	</div>
</div>

<% include partials/footer %>
