<% include partials/header %>

<!-- Page Content goes here -->
<div id="gameplay-screen" class="container-inner">
    <audio id="attack-sound" preload="auto">
        <source src="/sounds/gameplay/attack1.wav" type="audio/mpeg">
    </audio>

    <div class="gameplay-toolbar toolbar-top">
        <div class="toolbar-content cf">

            <div id="playpause-button" class="toolbar-item">
                <a href="#!" id="playpause">
                    <i class="wisteria-icons play mdi mdi-play"></i>
                </a>
            </div>

            <div class="progress">
                <div id="time-bar" class="determinate" style="width: 0%"></div>
            </div>

            <div id="timer-display">
                <span id="current-time">0:00</span>
            </div>

            <div id="cheat-button" class="toolbar-item">
                <a href="#!" id="cheat">
                    <i class="wisteria-icons play mdi mdi-lock"></i>
                </a>

                <div id="cheat-box">
                    <div id="cheat-box-content">
                       <div class="input-field col">
                           <form id="cheat-form">
                               <!-- Cheat code is WinLevel<%= level %>Pineapple -->
                               <input id="cheat-code" type="text" class="validate">%>
                               <label for="cheat-code">Cheat Code</label>
                               <button id="send-cheat" class="btn waves-effect waves-light" type="submit">Apply Cheat</button>
                           </form>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="gameplay-area">

        <div id="gameplay-sidebar">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header active">
                        <i class="wisteria-icons mdi mdi-shape-plus"></i>
                        Units
                        <i class="collapse-icon wisteria-icons right mdi mdi-chevron-down"></i>
                    </div>
                    <div class="collapsible-body">
                        <div id="unit-select-items" class="gameplay-select">
                            <!-- <span class="select-item" data-value="archernw" data-tooltip="Archer &nwarr;">
                                <img src="/img/powerups/archernw.png" />
                                <span class="item-count">5</span>
                            </span>-->
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="wisteria-icons mdi mdi-fire"></i>
                        Powerups
                        <i class="collapse-icon wisteria-icons right mdi mdi-chevron-down"></i>
                    </div>
                    <div class="collapsible-body">
                    <div id="powerups-select-items" class="gameplay-select">
                            <span class="select-item" data-value="archernw" data-tooltip="Archer &nwarr;">
                                <img src="/img/powerups/archernw.png" />
                                <span class="item-count">5</span>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Gameplay Canvas - filled in by Pixi -->
        <div class="canvas" id="gameplay-canvas"></div>

    </div>
</div>

<% include partials/footer %>
