<% include partials/header %>
<!-- Page Content goes here -->
<div id="gameplay-screen" class="container-inner" align="center">
    <div class="toolbar top">
        <span class="toolbar-content">
            <div class="padder">
                <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                </div>
            </div>
            <span class="toolbar-text" id="timer-display">0:30</span>
        </span>
    </div>
    <div class="canvas" id="gameplay-canvas">

    </div>
    <div class="toolbar bottom">
        <span class="toolbar-content">
            <div class="bottom align">
                <a href="#!" id="playpause"><i class="wisteria-icons play mdi mdi-play"></i></a>
            </div>
            <!-- Dropdown Trigger -->
            <div class="bottom align">
                <a class='dropdown-button btn small' href='#!' data-activates='units'>Units</a>
            </div>

            <!-- Dropdown Structure -->
            <ul id='units' class='dropdown-content'>
                <li><a data-unit="archernw" href="#!">Archer &nwarr;</a></li>
                <li><a data-unit="archerne" href="#!">Archer &nearr;</a></li>
                <li><a data-unit="archersw" href="#!">Archer &swarr;</a></li>
                <li><a data-unit="archerse" href="#!">Archer &searr;</a></li>
                <li><a data-unit="infantryn" href="#!">Infantry &uarr;</a></li>
                <li><a data-unit="infantrys" href="#!">Infantry &darr;</a></li>
                <li><a data-unit="infantrye" href="#!">Infantry &rarr;</a></li>
                <li><a data-unit="infantryw" href="#!">Infantry &larr;</a></li>
                <li><a data-unit="tower" href="#!">Tower</a></li>
                <li><a data-unit="blockade" href="#!">Blockade</a></li>
                <li><a data-unit="shield" href="#!">Shield</a></li>
                <li><a data-unit="caltrops" href="#!">Caltrops</a></li>
                <li><a data-unit="wallbackward" href="#!">Wall &nwarr;</a></li>
                <li><a data-unit="wallforward" href="#!">Wall &nearr;</a></li>

            </ul>

            <!-- Dropdown Trigger -->
            <div class="bottom align">
                <a class='dropdown-button btn small' href='#!' data-activates='powerups'>Powerups</a>
            </div>

            <!-- Dropdown Structure -->
            <ul id='powerups' class='dropdown-content'>
                <li><a href="#!">Reduce Time</a></li>
                <li><a href="#!">Reduce Enemy Spawns</a></li>
                <li><a href="#!">Void Cell</a></li>
            </ul>

            <div class="bottom align">
                <a href="victory"><i class="wisteria-icons lock mdi mdi-lock"></i></a>
            </div>
        </span>
    </div>
</div>

<% include partials/footer %>
