<% include partials/header %>
<!-- Page Content goes here -->
<div id="gameplay-screen" class="container-inner">

    <div class="gameplay-toolbar toolbar-top">
        <div class="toolbar-content">
            <div class="progress">
                <div id="time-bar" class="determinate" style="width: 0%"></div>
            </div>

            <div id="timer-display">
                <span id="current-time">0:00</span>
            </div>
        </div>
    </div>

    <!-- Gameplay Canvas - filled in by Pixi -->
    <div class="canvas" id="gameplay-canvas"></div>

    <div class="gameplay-toolbar toolbar-bottom">
        <div class="toolbar-content">

            <div id="playpause-button" class="toolbar-item">
                <a href="#!" id="playpause">
                    <i class="wisteria-icons play mdi mdi-play"></i>
                </a>
            </div>

            <div id="unit-select" class="toolbar-item">
                <div id="unit-select-menu">
                    <select>
                        <option value="" disabled selected>Unit</option>
                        <option value="archernw" data-icon="/img/powerups/archernw.png">Archer &nwarr;</option>
                        <option value="archerne" data-icon="/img/powerups/archerne.png">Archer &nearr;</option>
                        <option value="archersw" data-icon="/img/powerups/archersw.png">Archer &swarr;</option>
                        <option value="archerse" data-icon="/img/powerups/archerse.png">Archer &searr;</option>
                        <option value="infantryn" data-icon="/img/powerups/infantryn.png">Infantry &uarr;</option>
                        <option value="infantrys" data-icon="/img/powerups/infantrys.png">Infantry &darr;</option>
                        <option value="infantrye" data-icon="/img/powerups/infantrye.png">Infantry &rarr;</option>
                        <option value="infantryw" data-icon="/img/powerups/infantryw.png">Infantry &larr;</option>
                        <option value="tower" data-icon="/img/powerups/tower.png">Tower</option>
                        <option value="blockade" data-icon="/img/powerups/blockade.png">Blockade</option>
                        <option value="shield" data-icon="/img/powerups/shield.png">Shield</option>
                        <option value="caltrops" data-icon="/img/powerups/caltrops.png">Caltrops</option>
                        <option value="wallbackward" data-icon="/img/powerups/wallbackward.png">Wall &nwarr;</option>
                        <option value="wallforward" data-icon="/img/powerups/wallforward.png">Wall &nearr;</option>
                    </select>
                </div>
            </div>

            <div id="powerup-select" class="toolbar-item">
                <div id="powerup-select-menu">
                    <select>
                        <option value="" disabled selected>Powerup</option>
                        <option value="stopspawn">Reduce Enemy Spawn</option>
                        <option value="reducetime">Reduce Time</option>
                        <option value="void">Void Cell</option>
                    </select>
                </div>
            </div>

            <div id="cheat-button" class="toolbar-item">
                <a href="victory" id="cheat">
                    <i class="wisteria-icons play mdi mdi-lock"></i>
                </a>
            </div>

        </div>
    </div>
</div>

<% include partials/footer %>
