<% include partials/header %>

<div id="splash-screen-logged-in" class="container-inner">
    <!-- Page Content goes here -->
    <h2 id="splash-title">Wisteria Life</h2>

    <div id="splash-buttons">
        <a href="/map.html" id="splash-play" class="waves-effect waves-light btn-large"><i class="material-icons left">play_arrow</i> Play</a>
        <a id="splash-logout" class="waves-effect waves-light btn-large"><i class="material-icons left">power_settings_new</i> Logout</a>
    </div>

</div>

<% include partials/footer %>
