<% include partials/header %>

<div id="splash-screen-logged-in" class="container-inner">
    <!-- Page Content goes here -->
    <h2 id="splash-title">Wisteria Life</h2>

    <div id="user-actions">
        <button id="splash-login" class="waves-effect waves-light btn-large"><i class="wisteria-icons left mdi mdi-login"></i> Login</button>
        <button id="splash-logout" class="waves-effect waves-light btn-large"><i class="wisteria-icons left mdi mdi-power"></i> Logout</button>
    </div>

    <div id="splash-buttons">
        <a href="/map" id="splash-play" class="waves-effect waves-light btn-large"><i class="wisteria-icons left mdi mdi-play"></i> Play</a>
        <a href="/about" class="waves-effect waves-light btn-large"><i class="wisteria-icons left mdi mdi-information-outline"></i>About</a>
    </div>

</div>

<% include partials/footer %>
