<% include partials/header %>
<!-- Page Content goes here -->
<div id="editor-screen" class="container-inner" align="center">

    <div class="gameplay-toolbar toolbar-top">
        <div class="toolbar-content">
            <div id="editor-time-progress">
                <form action="#">
                    <span class="range-field" id="timeline">
                        <input type="range" id="test5" min="0" max="60" />
                    </span>
                </form>
            </div>

            <div id="timer-display">
                <span id="current-time">0:00</span>
            </div>

            <div id="total-time-field" class="input-field col s6">
                <div id="total-time-input">
                    <input value="60" id="level-total-time" type="text" class="validate">
                    <label id="level-total-time-label" for="level-total-time">Total Time</label>
                </div>
            </div>
        </div>
    </div>

    <div id="gameplay-area">

        <div id="gameplay-sidebar">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header active">
                        <i class="wisteria-icons mdi mdi-shape-plus"></i>
                        Units
                        <i class="collapse-icon wisteria-icons right mdi mdi-chevron-down"></i>
                    </div>
                    <div class="collapsible-body">
                        <div id="unit-select-items" class="gameplay-select">
                            <span class="select-item" data-value="archernw" data-tooltip="Archer &nwarr;">
                                <img src="/img/powerups/archernw.png" />
                            </span>
                            <span class="select-item" data-value="archerne" data-tooltip="Archer &nearr;">
                                <img src="/img/powerups/archerne.png" />
                            </span>
                            <span class="select-item" data-value="archersw" data-tooltip="Archer &swarr;">
                                <img src="/img/powerups/archersw.png" />
                            </span>
                            <span class="select-item" data-value="archerse" data-tooltip="Archer &searr;">
                                <img src="/img/powerups/archerse.png" />
                            </span>
                            <span class="select-item" data-value="infantryn" data-tooltip="Infantry &uarr;">
                                <img src="/img/powerups/infantryn.png" />
                            </span>
                            <span class="select-item" data-value="infantrys" data-tooltip="Infantry &darr;">
                                <img src="/img/powerups/infantrys.png" />
                            </span>
                            <span class="select-item" data-value="infantrye" data-tooltip="Infantry &rarr;">
                                <img src="/img/powerups/infantrye.png" />
                            </span>
                            <span class="select-item" data-value="infantryw" data-tooltip="Infantry &larr;">
                                <img src="/img/powerups/infantryw.png" />
                            </span>
                            <span class="select-item" data-value="tower" data-tooltip="Tower">
                                <img src="/img/powerups/tower.png" />
                            </span>
                            <span class="select-item" data-value="blockade" data-tooltip="Blockade">
                                <img src="/img/powerups/blockade.png" />
                            </span>
                            <span class="select-item" data-value="shield" data-tooltip="Shield">
                                <img src="/img/powerups/shield.png" />
                            </span>
                            <span class="select-item" data-value="caltrops" data-tooltip="Caltrops">
                                <img src="/img/powerups/caltrops.png" />
                            </span>
                            <span class="select-item" data-value="wallbackward" data-tooltip="Wall &nwarr;">
                                <img src="/img/powerups/wallbackward.png" />
                            </span>

                            <span class="select-item" data-value="wallforward" data-tooltip="Wall &nearr;">
                                <img src="/img/powerups/wallforward.png" />
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="wisteria-icons mdi mdi-format-paint"></i>
                        Factions
                        <i class="collapse-icon wisteria-icons right mdi mdi-chevron-down"></i>
                    </div>
                    <div class="collapsible-body">

                        <div id="factions" class="faction-buttons">
                            <button type="button" class="btn waves-effect selected-faction" id="fac-objective" data-faction="5">Defense</button>
                            <button type="button" class="btn waves-effect" id="fac-enemy" data-faction="6">Enemy</button>
                        </div>

                        <div id="zones" class="faction-buttons">
                            <button type="button" class="btn waves-effect" id="fac-friend-zone" data-faction="2">Friend Zone</button>
                            <button type="button" class="btn waves-effect" id="fac-enemy-zone" data-faction="3">Enemy Zone</button>
                        </div>
                    </div>
                </li>
            </ul>

            <div id="backspace-button" class="toolbar-item toolbar-button tooltipped" data-tooltip="Delete Unit">
                <button id="backspace" class="editor-buttons">
                    <i class="wisteria-icons clear-cell mdi mdi-backspace"></i>
                </button>
            </div>

             <div id="toolbar-message" class="toolbar-item toolbar-button">
                 <button id="message-button" class="editor-buttons tooltipped" data-tooltip="Add Message">
                     <i class="wisteria-icons clear-cell mdi mdi-message-text"></i>
                 </button>

                 <div id="message-box">
                     <div id="message-box-content">
                        <div class="input-field col">
                            <form id="message-form">
                                <input id="message" type="text" class="validate">
                                <label for="message">Message</label>
                                <button id="add-message" class="btn waves-effect waves-light" type="submit">Add Message</button>
                            </form>
                        </div>
                     </div>
                 </div>

             </div>

             <div class="toolbar-item">
                 <button class="btn waves-effect waves-light" id="save-level-show">
                     <i class="wisteria-icons mdi mdi-content-save"></i>
                     <span>Save</span>
                 </button>
             </div>

             <div class="toolbar-item">
                 <button class="btn waves-effect waves-light" id="delete-button" data-target="delete-confirm">
                     <i class="wisteria-icons mdi mdi-delete"></i>
                     <span>Discard</span>
                 </button>
             </div>

             <div id="zoom-select" class="toolbar-item">
                 <button class="btn waves-effect waves-light" id="zoom-select-open" data-target="resize-confirm">
                     <i class="wisteria-icons mdi mdi-move-resize-variant"></i>
                     <span>Size</span>
                 </button>
             </div>
        </div>

        <!-- Gameplay Canvas - filled in by Pixi -->
        <div class="canvas" id="editor-canvas"></div>

    </div>

    <div id="resize-confirm" class="modal">
        <div class="modal-content">
            <h4>Warning - Change Level Size</h4>
            <p>
                Please note that changing the level size will DELETE any unsaved progress on your current level. Are you sure you want to do this? This is irreversible.
            </p>
            <p>
                If you are sure you want to do this, please select a grid size below.
            </p>
            <ul id="resize-options">
                <li class="resize-select">
                    <button class="waves-effect btn-large" data-zoom="small">Small</button>
                </li>

                <li class="resize-select">
                    <button class="waves-effect btn-large" data-zoom="medium">Medium</button>
                </li>

                <li class="resize-select">
                    <button class="waves-effect btn-large" data-zoom="large">Large</button>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <a href="#!" id="resize-no" class="modal-action waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </div>

    <div id="delete-confirm" class="modal">
        <div class="modal-content">
            <h4>Warning - Unsaved Changes</h4>
            <p>
                Are you sure you wish to abandon your unsaved progress? Changes you made will not be saved.
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" id="delete-yes" class="modal-action waves-effect waves-green btn-flat">Yes, Abandon</a>
            <a href="#!" id="delete-no" class="modal-action waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </div>

<% include partials/footer %>
