<% include partials/header %>
<!-- Page Content goes here -->
<div id="editor-screen" class="container-inner" align="center">

    <div class="gameplay-toolbar toolbar-top">
        <div class="toolbar-content">
            <div id="editor-time-progress">
                <form action="#">
                    <span class="range-field" id="timeline">
                        <input type="range" id="test5" min="0" max="300" />
                    </span>
                </form>
            </div>

            <div id="timer-display">
                <span id="current-time">0:00</span>
            </div>

            <div class="input-field col s6">
                <div id="total-time-input">
                    <input id="level-total-time" type="text" class="validate">
                    <label id="level-total-time-label" for="level-total-time">Total Time</label>
                </div>
            </div>
        </div>
    </div>

    <div id="gameplay-area">

        <div id="gameplay-sidebar">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header active">
                        <i class="wisteria-icons mdi mdi-shape-plus"></i>
                        Units
                        <i class="collapse-icon wisteria-icons right mdi mdi-chevron-down"></i>
                    </div>
                    <div class="collapsible-body">
                        <div id="unit-select-items" class="gameplay-select">
                            <span class="select-item" data-value="archernw" data-tooltip="Archer &nwarr;">
                                <img src="/img/powerups/archernw.png" />
                            </span>
                            <span class="select-item" data-value="archerne" data-tooltip="Archer &nearr;">
                                <img src="/img/powerups/archerne.png" />
                            </span>
                            <span class="select-item" data-value="archersw" data-tooltip="Archer &swarr;">
                                <img src="/img/powerups/archersw.png" />
                            </span>
                            <span class="select-item" data-value="infantryn" data-tooltip="Infantry &uarr;">
                                <img src="/img/powerups/infantryn.png" />
                            </span>
                            <span class="select-item" data-value="infantrys" data-tooltip="Infantry &darr;">
                                <img src="/img/powerups/infantrys.png" />
                            </span>
                            <span class="select-item" data-value="infantrye" data-tooltip="Infantry &rarr;">
                                <img src="/img/powerups/infantrye.png" />
                            </span>
                            <span class="select-item" data-value="infantrye" data-tooltip="Infantry &larr;">
                                <img src="/img/powerups/infantrye.png" />
                            </span>
                            <span class="select-item" data-value="tower" data-tooltip="Tower">
                                <img src="/img/powerups/tower.png" />
                            </span>
                            <span class="select-item" data-value="blockade" data-tooltip="Blockade">
                                <img src="/img/powerups/blockade.png" />
                            </span>
                            <span class="select-item" data-value="shield" data-tooltip="Shield">
                                <img src="/img/powerups/shield.png" />
                            </span>
                            <span class="select-item" data-value="caltrops" data-tooltip="Caltrops">
                                <img src="/img/powerups/caltrops.png" />
                            </span>
                            <span class="select-item" data-value="wallbackward" data-tooltip="Wall &nwarr;">
                                <img src="/img/powerups/wallbackward.png" />
                            </span>

                            <span class="select-item" data-value="wallforward" data-tooltip="Wall &nearr;">
                                <img src="/img/powerups/wallforward.png" />
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="wisteria-icons mdi mdi-fire"></i>
                        Powerups
                        <i class="collapse-icon wisteria-icons right mdi mdi-chevron-down"></i>
                    </div>
                    <div class="collapsible-body"><p>Coming soon.</p></div>
                </li>
            </ul>

            <div id="backspace-button" class="toolbar-item tooltipped" data-tooltip="Delete Unit">
                <a href="#!" id="backspace">
                    <i class="wisteria-icons clear-cell mdi mdi-backspace"></i>
                </a>
            </div>

            <div id="faction-switch">
                <button type="button" id="fac-objective">Defense</button>
                <button type="button" id="fac-enemy">Enemy</button>
                <button type="button" id="fac-friend-zone" value=2>Friend Zone</button>
                <button type="button" id="fac-enemy-zone" value=3>Enemy Zone</button>
            </div>
           <!--  <div id="faction-switch" class="toolbar-item tooltipped" data-tooltip="Switch Faction">
                <div class="switch">
                    <label>
                        <span class="enemy-switch">
                            <i class="wisteria-icons mdi mdi-stop"></i>
                        </span>
                        <input type="checkbox">
                        <span class="lever"></span>
                        <span class="friendly-switch">
                            <i class="wisteria-icons mdi mdi-stop"></i>
                        </span>
                    </label>
                </div>
            </div> -->

             <div class="toolbar-item tooltipped" data-tooltip="Add Message">
                 <button id="message-button" class="editor-buttons">
                     <i class="wisteria-icons clear-cell mdi mdi-message-text"></i>
                 </button>
             </div>

             <div class="toolbar-item">
                 <button class="btn waves-effect waves-light" id="save-level-show">
                     <i class="wisteria-icons mdi mdi-content-save"></i>
                     <span>Save Level</span>
                 </button>
             </div>

             <div class="toolbar-item">
                 <button class="btn waves-effect waves-light" id="delete-button" data-target="delete-confirm">
                     <i class="wisteria-icons mdi mdi-delete"></i>
                     <span>Delete Level</span>
                 </button>
             </div>

             <div id="zoom-select" class="toolbar-item">
                 <button class="btn waves-effect waves-light" id="zoom-select-open" data-target="resize-confirm">
                     <i class="wisteria-icons mdi mdi-move-resize-variant"></i>
                     <span>Level Size</span>
                 </button>
             </div>
        </div>

        <!-- Gameplay Canvas - filled in by Pixi -->
        <div class="canvas" id="editor-canvas"></div>

    </div>

    <div id="resize-confirm" class="modal">
        <div class="modal-content">
            <h4>Warning - Change Level Size</h4>
            <p>
                Please note that changing the level size will DELETE any unsaved progress on your current level. Are you sure you want to do this? This is irreversible.
            </p>
            <p>
                If you are sure you want to do this, please select a grid size below.
            </p>
            <ul id="resize-options">
                <li class="resize-select">
                    <button class="waves-effect btn-large" data-zoom="small">Small</button>
                </li>

                <li class="resize-select">
                    <button class="waves-effect btn-large" data-zoom="medium">Medium</button>
                </li>

                <li class="resize-select">
                    <button class="waves-effect btn-large" data-zoom="large">Large</button>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <a href="#!" id="resize-no" class="modal-action waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </div>

    <div id="delete-confirm" class="modal">
        <div class="modal-content">
            <h4>Warning - Delete Level</h4>
            <p>
                Are you sure you wish to permanently delete this level?
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" id="delete-yes" class="modal-action waves-effect waves-green btn-flat">Yes, Delete</a>
            <a href="#!" id="delete-no" class="modal-action waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </div>

<% include partials/footer %>
