<% include partials/header %>
<!-- Page Content goes here -->
<div id="level-select-screen" class="container-inner">
    <div id="region-header">
        <a href="../map"><h2 id="region-number">REGION <%= region %></h2></a>
    </div>
    <div id="level-cards" class="row">

        <!-- Hidden sample card - duplicated for others -->
        <div id="sample-card" class="col s6 m4">
            <div class="card">
                <div class="card-content">
                    <div class="type-powerup">
                        <div class="level-num-shape"><span class="level-num">1</span></div>
                        <div class="card-title">
                            <span>Rise of the Scarlet</span>
                        </div>
                    </div>
                    <div class="icon-description cf">
                        <img src="/img/levels/placeholder.png">
                        <span class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
                    </div>
                </div>
                <div class="card-action">
                    <i class="wisteria-icons locked-icon mdi mdi-lock-outline"></i>
                    <a href="/level-story" class="play-button" data-level="1">Play</a>
                </div>
            </div> <!-- this is the end of the card !-->
        </div>
    </div> <!-- This is the end of the row div !-->
</div> <!-- This is the end of the level select div !-->

<% include partials/footer %>
