<% include partials/header %>

<div id="map-screen" class="container-inner cards">
    <div class="row">
        <div class="col s6">
            <div id="region-1-card" class="card">
                <div class="card-content">
                    1-10
                </div>
                <a class="card-action" href="/level-select" data-region="1">Enter Region</a>
            </div>
        </div>
        <div class="col s6">
            <div id="region-2-card" class="card">
                <div class="card-content">
                    11-20
                </div>
                <a class="card-action" href="/level-select" data-region="2">Enter Region</a>
            </div>
        </div>
        <div class="col s6">
            <div id="region-3-card" class="card">
                <div class="card-content">
                    21-30
                </div>
                <a class="card-action" href="/level-select" data-region="3">Enter Region</a>
            </div>
        </div>
        <div class="col s6">
            <div id="region-4-card" class="card">
                <div class="card-content">
                    31-40
                </div>
                <a class="card-action" href="/level-select" data-region="4">Enter Region</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="custom-levels-region" class="col s12">
            <div id="custom-levels-button">
                <a href="/private-custom-levels" class="waves-effect waves-light btn-large">Custom Levels</a>
            </div>
        </div>
    </div>

</div>

<% include partials/footer %>
