<% include partials/header %>
<!-- Page Content goes here -->


<div id="defeat-pause-victory-screen" class="container-inner screen-overlay">
    <div class="center-all">
        <span id="defeat-pause-victory-title">PAUSED</span>
        <span class="defeat-pause-victory-note defeat-pause-victory-text">
            Ready, Set, Go!
        </span>
        <span class="defeat-pause-victory-icons">
            <a href="/level-select" data-region="<%= region %>"><i class="wisteria-icons back mdi mdi-step-backward"></i></a>
            <a href="/gameplay" data-level="<%= level %>"><i class="wisteria-icons replay mdi mdi-replay"></i></a>
            <a href="/tutorial" id="help-button"><i class="wisteria-icons help mdi mdi-help"></i></a>
            <a href="#!" id="resume-button"><i class="wisteria-icons next mdi mdi-play"></i></a>
        </span>
    </div>
</div>

<% include partials/footer %>
