<% include partials/header %>
<!-- Page Content goes here -->


<div id="defeat-pause-victory-screen" class="container-inner screen-overlay">
    <div class="center-all">
        <span id="defeat-pause-victory-title">PAUSED</span>
        <span class="defeat-pause-victory-note defeat-pause-victory-text">
            Ready, Set, Go!
        </span>
        <span class="defeat-pause-victory-icons">
            <a href="level-select"><i class="wisteria-icons back mdi mdi-step-backward"></i></a>
            <a href="gameplay"><i class="wisteria-icons replay mdi mdi-replay"></i></a>
            <a href="gameplay"><i class="wisteria-icons next mdi mdi-play"></i></a>
        </span>
    </div>
</div>

<!-- GAMEPLAY SCREEN -->
<div id="gameplay-screen" class="container-inner" align="center">
    <div class="toolbar top">
        <span class="toolbar-content">
            <div class="padder">
                <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                </div>
            </div>
            <span class="toolbar-text">0:30</span>
        </span>
    </div>
    <div class="canvas">
        <canvas id="gameplay-canvas" class="game-canvas"></canvas>
    </div>
    <div class="toolbar bottom">
        <span class="toolbar-content">
            <div class="bottom align">
                <a href="pause"><i class="wisteria-icons play mdi mdi-pause"></i></a>
            </div>
            <!-- Dropdown Trigger -->
            <div class="bottom align">
                <a class='dropdown-button btn small' href='#' data-activates='shapes'>Shapes</a>
            </div>

            <!-- Dropdown Structure -->
            <ul id='shapes' class='dropdown-content'>
                <li><a href="#!">Archer &nwarr;</a></li>
                <li><a href="#!">Archer &nearr;</a></li>
                <li><a href="#!">Archer &swarr;</a></li>
                <li><a href="#!">Archer &searr;</a></li>
                <li><a href="#!">Infantry &uarr;</a></li>
                <li><a href="#!">Infantry &darr;</a></li>
                <li><a href="#!">Infantry &rarr;</a></li>
                <li><a href="#!">Infantry &larr;</a></li>
            </ul>

            <!-- Dropdown Trigger -->
            <div class="bottom align">
                <a class='dropdown-button btn small' href='#' data-activates='powerups'>Powerups</a>
            </div>

            <!-- Dropdown Structure -->
            <ul id='powerups' class='dropdown-content'>
                <li><a href="#!">Reduce Time</a></li>
                <li><a href="#!">Reduce Enemy Spawns</a></li>
                <li><a href="#!">Void Cell</a></li>
            </ul>

            <div class="bottom align">
                <a href="victory"><i class="wisteria-icons lock mdi mdi-lock"></i></a>
            </div>
            <a href="level-select"><i class="material-icons back">play_arrow</i></a>
            <a href="gameplay"><i class="material-icons replay">replay</i></a>
            <a href="gameplay" id="resume-button"><i class="material-icons next">play_arrow</i></a>
        </span>
    </div>
</div>

<% include partials/footer %>
