<% include partials/header %>
<!-- Page Content goes here -->
<div id="private-custom-levels-screen" class="container-inner">
    <div id="private-public-bar" class="holo-tab-bar">
        <div class="left">
            <a class="holo-tab waves-effect active" href="private-custom-levels">Private</a>
            <a class="holo-tab waves-effect" href="public-custom-levels">Public</a>
        </div>
        <div class="right">
            <ul id="custom-levels-options" class="holo-tab-bar-buttons">
                <li>
                    <a href="/level-editor"><i class="wisteria-icons mdi mdi-plus"></i></a>
                </li>
                <li>
                    <button id="delete-custom-level"><i class="wisteria-icons mdi mdi-delete"></i></button>
                </li>
            </ul>
        </div>
    </div>
    <div class="custom-levels-row row">
        <div id="custom-level-cards" class="col s6 m4">

            <!-- Sample card - hidden and duplicated -->
            <div id="sample-card" class="card">
                <div class="card-content">
                    <div class="type-powerup">
                        <span class="card-icon"><i class="wisteria-icons mdi mdi-view-dashboard"></i></span>
                        <div class="card-title">
                            <span>Defenders</span>
                        </div>
                    </div>
                    <div class="icon-description cf">
                        <img id="region-1-level-1-img" src="/img/levels/placeholder.png"></img>
                        <span class="card-desc" id="region-1-level-1-storyline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
                    </div>
                </div>
                <div class="card-action">
                    <a href="level-story" data-level="1">Play</a>
                    <a href="level-editor" data-level="1">Edit</a>
                    <span class="input-field" id="card-checkbox"><input id="1" type="checkbox"><label for="1"></label></span>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
