<% include partials/header %>
<!-- Page Content goes here -->
<div id="private-custom-levels-screen" class="container-inner">
    <div id="private-public-bar" class="holo-tab-bar">
        <div class="left">
            <span class="holo-title">Custom</span>
            <a class="holo-tab waves-effect active" href="private-custom-levels">Private</a>
            <a class="holo-tab waves-effect" href="public-custom-levels">Public</a>
        </div>
        <div class="right">
            <ul id="custom-levels-options" class="holo-tab-bar-buttons">
                <li>
                    <a href="/level-editor"><i class="wisteria-icons mdi mdi-plus"></i></a>
                </li>
                <li>
                    <button id="delete-custom-level" data-target="delete-level-confirm"><i class="wisteria-icons mdi mdi-delete"></i></button>
                </li>
            </ul>
        </div>
    </div>
    <div id="custom-level-cards" class="custom-levels-row row">
        <!-- Sample card - hidden and duplicated -->
        <div id="sample-card" class="col s6 m4">
            <div class="card">
                <div class="card-content">
                    <div class="type-powerup">
                        <span class="card-icon"><img class="level-icon" src="/img/default-avatar.jpg" /></span>
                        <div class="card-title">
                            <span>Defenders</span>
                        </div>
                    </div>
                    <div class="icon-description cf">
                        <img class="level-img" src="/img/levels/placeholder.png"></img>
                        <span class="card-desc" id="region-1-level-1-storyline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
                    </div>
                </div>
                <div class="card-action">
                    <a href="level-story" class="level-link" data-level="1">Play</a>
                    <a href="level-editor" class="level-link" data-level="1">Edit</a>
                    <span class="input-field" id="card-checkbox"><input id="1" type="checkbox"><label for="1"></label></span>
                </div>
            </div>
        </div>
    </div>

    <div id="delete-level-confirm" class="modal">
        <div class="modal-content">
            <h4>Warning - Delete Custom Level</h4>
            <p>
                Are you sure you wish to permanently delete your custom level? There is no undo for this action.
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" id="delete-level-yes" class="modal-action waves-effect waves-green btn-flat">Yes, Delete</a>
            <a href="#!" id="delete-level-no" class="modal-action waves-effect waves-green btn-flat">No</a>
        </div>
    </div>

</div>

<% include partials/footer %>
