<% include partials/header %>
<!-- Page Content goes here -->
<div id="private-custom-levels-screen" class="container-inner">
    <div id="private-public-bar" class="holo-tab-bar">
        <div class="left">
            <a class="holo-tab waves-effect" href="private-custom-levels">Private</a>
            <a class="holo-tab waves-effect active" href="public-custom-levels">Public</a>
        </div>

    </div>
    <div class="custom-levels-row row">
        <div id="custom-level-cards" class="col s6 m4">
            <div class="card">
                <div class="card-content">
                    <div class="type-powerup">
                        <div class="card-icon"><i class="wisteria-icons mdi mdi-view-dashboard"></i></div>
                        <div class="titles-with-sub">
                            <span class="level-title">Defenders</span>
                            <span class="level-sub">Author</span>
                        </div>
                    </div>
                    <div class="icon-description cf">
                        <span class="card-desc">This is a custom level created by you, the user. This is a custom level created by you, the user. This is a custom level created by you, the user.</span>
                    </div>
                </div>
                <div class="card-action">
                  <a href="level-story" data-level="1">Play</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
