<% include partials/header %>
    <!-- Page Content goes here -->

    <div id="about-save-level-screen" class="container-inner screen-overlay">
        <div class="row">
            <!--
                Don't put a placeholder text
                Materialize makes a nice animation w/o one
            -->
            <div class="input-field col s6 offset-s3">
                <input id="level_title" type="text" class="validate" length="25">
                <label for="level_title">Level Title &nbsp;
                    <small>Give your level an exciting name.</small>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <textarea id="level_description" class="materialize-textarea validate" length="100"></textarea>
                <label for="level_description">Level Description &nbsp;
                    <small>Give your creation a story!</small>
                </label>
            </div>
            <div class="col s6 offset-s3">
                <label for="ally_units">Ally Units</label>
            </br>
        </div>
        <div class="col s6 offset-s3" id="save_ally_units">
            <label class="units" for="tower">Tower</label>
            <output for="tower" id="output_tower"></output>
            <span class="range-field">
                <input type="range" id="tower_num" min="0" max="25"/>
            </span>            
            <label class="units" for="blockade">Blockade</label>
            <output for="blockade" id="output_blockade"></output>
            <span class="range-field">
                <input type="range" id="blockade_num" min="0" max="25"/>
            </span>
            <label class="units" for="caltrops">Caltrops</label>
            <output for="caltrops" class="output"></output>
            <span class="range-field">
                <input type="range" id="caltrops_num" min="0" max="25"/>
            </span>
            <label class="units" for="archernw">Archer &nwarr;</label>
            <output for="archernw" class="output"></output>
            <span class="range-field">
                <input type="range" id="archernw_num" min="0" max="25"/>
            </span>
            <label class="units" for="archerne">Archer &nearr;</label>
            <output for="archerne" class="output"></output>
            <span class="range-field">
                <input type="range" id="archerne_num" min="0" max="25"/>
            </span>
            <label class="units" for="archerse">Archer &searr;</label>
            <output for="archerse" class="output"></output>
            <span class="range-field">
                <input type="range" id="archerse_num" min="0" max="25"/>
            </span>
            <label class="units" for="archersw">Archer &swarr;</label>
            <output for="archersw" class="output"></output>
            <span class="range-field">
                <input type="range" id="archersw_num" min="0" max="25"/>
            </span>
            <label class="units" for="infantryw">Infantry &larr;</label>
            <output for="infantryw" class="output"></output>
            <span class="range-field">
                <input type="range" id="infantryw_num" min="0" max="25"/>
            </span>
            <label class="units" for="infantryn">Infantry &uarr;</label>
            <output for="infantryn" class="output"></output>
            <span class="range-field">
                <input type="range" id="infantryn_num" min="0" max="25"/>
            </span>
            <label class="units" for="infantrye">Infantry &rarr;</label>
            <output for="infantrye" class="output"></output>
            <span class="range-field">
                <input type="range" id="infantrye_num" min="0" max="25"/>
            </span>
            <label class="units" for="infantrys">Infantry &darr;</label>
            <output for="infantrys" class="output"></output>
            <span class="range-field">
                <input type="range" id="infantrys_num" min="0" max="25"/>
            </span>
            <label class="units" for="wallbackward">Wall &nearr;</label>
            <output for="wallbackward" class="output"></output>
            <span class="range-field">
                <input type="range" id="wallbackward_num" min="0" max="25"/>
            </span>
            <label class="units" for="wallforward">Wall &nwarr;</label>
            <output for="wallforward" class="output"></output>
            <span class="range-field">
                <input type="range" id="wallforward_num" min="0" max="25"/>
            </span>
        </div>
        <div class="input-field col s6 offset-s3">
            <p>
                <input id="save-public" type="checkbox" checked="checked">
                <label for="save-public">Public</label>
            </p>
        </div>
        <div class="col s6 offset-s3 center-buttons">
            <button class="btn waves-effect waves-purple" type="submit">Save</button>
            <a id="save-cancel-button" href="#!" class="btn waves-effect waves-purple" type="submit">Cancel</a>
        </div>
    </div>
</div>
<% include partials/footer %>
