<% include partials/header %>
<!-- Page Content goes here -->
<div id="store-screen" class="container-inner cards">
    <div id="store-cards" class="row">
        <!-- Hidden sample card - duplicated for others -->
        <div id="sample-powerups-card" class="col s6 m4">
            <div class="card">
                <div class="card-content">
                    <div class="type-powerup">
                        <span class="card-icon">
                            <i class="wisteria-icons mdi mdi-shape-plus"></i>
                        </span>
                        <div class="card-title">
                            <span>Rise of the Scarlet</span>
                        </div>
                    </div>
                    <div class="icon-description cf">
                        <img src="/img/levels/placeholder.png">
                        <span class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
                    </div>
                </div>
                <div class="card-action">
                    <button data-powerup="reducetime" class="buy-button">Buy</button>
                    <span class="wistbux">
                        <span class="strike">W</span>
                    </span>
                    <span class="price">100</span>
                </div>
            </div> <!-- this is the end of the card !-->
        </div>
    </div> <!-- This is the end of the row div !-->
    <div id="buy-confirm" class="modal">
        <div class="modal-content">
            <h4>Warning - About to Make Transaction</h4>
            <p>
                Are you sure you wish to buy this powerup? Once completed, this transaction cannot be reversed.
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" id="buy-yes" class="modal-action waves-effect waves-green btn-flat">Spend</a>
            <a href="#!" id="buy-no" class="modal-action waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </div>
</div>

<% include partials/footer %>
