<% include partials/header %>
<!-- Test Transition being an overlay -->

<!-- Page Content goes here -->
<div id="transition-screen" class="container-inner screen-overlay">
    <a href="/gameplay" data-level="<%= level %>">
        <i class="wisteria-icons close mdi mdi-close"></i>
    </a>
    <a id="transition-url" href="">
    	<img id="transition" src="" href="">
    </a>
</div>

<% include partials/footer %>
