<% include partials/header %>

<!-- Page Content goes here -->
<div id="tutorial-screen" class="container-inner screen-overlay">
	<div class="center-all">
		<span id="tutorial-title">Rules</span>
		<span class="tutorial-note tutorial-text">
	    Defense structures of the color purple will be placed for you on the grid.
	    Your objective is to protect them at all costs. The kingdom of Wisteria depends on it.
	    Your enemies are a sickly green color. Place shapes on the grid to defend yourself from them.
	    Press the play button when you're ready to begin.
	    </span>		
        <table>
				<tr>
					<th><a href="#!"id="tutorial-play"><i class="wisteria-icons tplay mdi mdi-play"></i></a>
					<th>Play button - begins the game. Located on the bottom toolbar.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons tpause mdi mdi-pause"></i>
					<th>Pause button - pauses the game. Located on the bottom toolbar.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons tstore mdi mdi-store"></i>
					<th>Store button - opens the Ye Olde Shoppe. Displayed after victory/defeat.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons tback mdi mdi-step-backward"></i>
					<th>Back button - choose another level. Displayed after victory/defeat.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons treplay mdi mdi-replay"></i>
					<th>Replay button - replay the level. Displayed on pause/victory/defeat.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons tshare mdi mdi-share-variant"></i>
					<th>Share button - share on social media. Displayed on victory/defeat.</th>
				</tr>
				<tr>
					<th><i class="wisteria-icons tnext mdi mdi-play"></i>
					<th>Next button - play the next level. Displayed on victory.</th>
				</tr>

	    <table>
	</div>
</div>

<% include partials/footer %>