<% include partials/header %>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '579874225545164',
            xfbml      : true,
            version    : 'v2.8'
        });
    FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Page Content goes here -->

<div id="defeat-pause-victory-screen" class="container-inner screen-overlay">
    <div class="center-all">
        <span id="defeat-pause-victory-title">VICTORY!</span>
        <span class="defeat-pause-victory-note">
            <span class="defeat-pause-victory-text">+10 Wistbux</span>
            <a href="/store" id="drop-store"><i class="wisteria-icons store mdi mdi-store"></i></a>
        </span>
        <span class="defeat-pause-victory-icons">
            <a href="level-select"><i class="wisteria-icons back mdi mdi-step-backward"></i></a>
            <a href="gameplay"><i class="wisteria-icons replay mdi mdi-replay"></i></a>
            <a id="share" href="#!"><i class="wisteria-icons share mdi mdi-share-variant"></i></a>
            <script>
                document.getElementById('share').onclick = function() {
                    FB.ui({
                    method: 'share',
                    display: 'popup',
                    href: 'https://wisteria-life-build1.firebaseapp.com',
                    }, function(response){});
                }
            </script>
            <a href="level-story"><i class="wisteria-icons next mdi mdi-play"></i></a>
        </span>
    </div>
</div>

<!-- GAMEPLAY SCREEN -->
<div id="gameplay-screen" class="container-inner" align="center">
    <div class="toolbar top">
        <span class="toolbar-content">
            <div class="padder">
                <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                </div>
            </div>
            <span class="toolbar-text">0:30</span>
        </span>
    </div>
    <div class="canvas">
        <canvas id="gameplay-canvas" class="game-canvas"></canvas>
    </div>
    <div class="toolbar bottom">
        <span class="toolbar-content">
            <div class="bottom align">
                <a href="pause"><i class="wisteria-icons play mdi mdi-pause"></i></a>
            </div>
            <!-- Dropdown Trigger -->
            <div class="bottom align">
                <a class='dropdown-button btn small' href='#' data-activates='shapes'>Shapes</a>
            </div>

            <!-- Dropdown Structure -->
            <ul id='shapes' class='dropdown-content'>
                <li><a href="#!">Archer &nwarr;</a></li>
                <li><a href="#!">Archer &nearr;</a></li>
                <li><a href="#!">Archer &swarr;</a></li>
                <li><a href="#!">Archer &searr;</a></li>
                <li><a href="#!">Infantry &uarr;</a></li>
                <li><a href="#!">Infantry &darr;</a></li>
                <li><a href="#!">Infantry &rarr;</a></li>
                <li><a href="#!">Infantry &larr;</a></li>
            </ul>

            <!-- Dropdown Trigger -->
            <div class="bottom align">
                <a class='dropdown-button btn small' href='#' data-activates='powerups'>Powerups</a>
            </div>

            <!-- Dropdown Structure -->
            <ul id='powerups' class='dropdown-content'>
                <li><a href="#!">Reduce Time</a></li>
                <li><a href="#!">Reduce Enemy Spawns</a></li>
                <li><a href="#!">Void Cell</a></li>
            </ul>

            <div class="bottom align">
                <a href="victory"><i class="wisteria-icons lock mdi mdi-lock"></i></a>
            </div>
        </span>
    </div>
</div>

<% include partials/footer %>
