<% include partials/header %>

<!-- Page Content goes here -->

<div id="defeat-pause-victory-screen" class="container-inner screen-overlay">
    <div class="center-all">
        <audio id="victory-sound" preload="auto" src="/sounds/gameplay/victory1.wav" type="audio/wav"></audio>
        <span id="defeat-pause-victory-title">VICTORY!</span>
        <span class="defeat-pause-victory-note">
            <span class="defeat-pause-victory-text">Wistbux +<span id="victory-wistbux"></span>!</span>
            <a href="/store" id="drop-store"><i class="wisteria-icons store mdi mdi-store"></i></a>
        </span>
        <span class="defeat-pause-victory-icons">
            <a id="level-back-button" href="/level-select" data-region="<%= region %>"><i class="wisteria-icons back mdi mdi-step-backward"></i></a>
            <a href="/gameplay" data-level="<%= level %>"><i class="wisteria-icons replay mdi mdi-replay"></i></a>
            <a id="share" href="#!" class="dropdown-button" data-activates="share-dropdown">
                <i class="wisteria-icons share mdi mdi-share-variant"></i>
            </a>
            <a id="level-next-button" href="/level-story" data-level="<%= level + 1 %>"><i class="wisteria-icons next mdi mdi-play"></i></a>
        </span>

        <ul id="share-dropdown" class="dropdown-content">
            <a id="facebook-share" href="#!">
                <i class="wisteria-icons facebook mdi mdi-facebook"></i>
            </a>

            <a id="twitter-share" href="https://twitter.com/intent/tweet?text=I just beat a level on Wisteria Life! Check it out!&amp;url=http://wisteria-life.appspot.com" class="twitter-share-button">
                <i class="wisteria-icons twitter mdi mdi-twitter"></i>
            </a>
        </ul>

    </div>
</div>
<% include partials/footer %>
