<% include partials/header %>

<!-- Page Content goes here -->

<div id="defeat-pause-victory-screen" class="container-inner screen-overlay">
    <div class="center-all">
        <span id="defeat-pause-victory-title">VICTORY!</span>
        <span class="defeat-pause-victory-note">
            <span class="defeat-pause-victory-text">Wistbux +<span id="victory-wistbux"></span>!</span>
            <a href="/store" id="drop-store"><i class="wisteria-icons store mdi mdi-store"></i></a>
        </span>
        <span class="defeat-pause-victory-icons">
            <a href="level-select"><i class="wisteria-icons back mdi mdi-step-backward"></i></a>
            <a href="gameplay"><i class="wisteria-icons replay mdi mdi-replay"></i></a>
            <a id="share" href="#!"><i class="wisteria-icons share mdi mdi-share-variant"></i></a>
            <a href="level-story"><i class="wisteria-icons next mdi mdi-play"></i></a>
        </span>
    </div>
</div>
<% include partials/footer %>
