#ad-screen {

}

#ad {
	height:26em;
	width:26em;
	vertical-align:middle;

	@media #{$medium-height-only} {
		height: 35em;
		width: 35em;
		vertical-align:middle;
		top:50%;
	}

	@media #{$small-height-and-down} {
		height:24em;
		width:24em;
		vertical-align:middle;
		top:50%;
	}

	@media #{$large-height-and-up} {
		height: 53em;
		width: 53em;
		vertical-align:middle;
		top:50%;
	}
}

.material-icons.close {
	font-size:3em;
	float:right;
	float:top;
	color:white;
	transform: translate(0, -150%);
}
