#ad-screen {
	padding-top: 0px;

	// ad is a special case which overlays even the navbar
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99;
	height: 100vh;
	width: 100vw;
}

#ad {
	height:26em;
	width:26em;
	vertical-align:middle;

	@media #{$medium-height-only} {
		height: 35em;
		width: 35em;
		vertical-align:middle;
		top:50%;
	}

	@media #{$small-height-and-down} {
		height:24em;
		width:24em;
		vertical-align:middle;
		top:50%;
	}

	@media #{$large-height-and-up} {
		height: 53em;
		width: 53em;
		vertical-align:middle;
		top:50%;
	}
}

.material-icons.close {
	font-size: 3em;
	float: right;
	padding: 15px;
	color: #fff;
	@include transition(all 0.3s linear);

	&:hover {
		color: $primary-color;
	}
}
