.card-content{
    color: #989898;
}

.card-action{
    color: black;
    font-size: 1em;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: black;
}

.card {
	.card-content{
		padding: 10px 20px 20px;

	    .type-powerup{
	        display: inline-block;
	        color: #000;
	        height: 50px;

	        .material-icons {
	            font-size: 2.5em;
	            vertical-align: middle;
	        }

	        span.card-icon {
	            display: inline-block;
	            height: 50px;
	            padding-right: 10px;
	        }

	        span.card-title {
	            vertical-align: middle;
	        }

            span.level-title {
                font-weight:bold;
                font-size:1rem;
                color:black;
                display:inline;
                vertical-align:top;
                position:absolute;
            }

            span.level-sub {
                font-size:0.9rem;
                display:inline;
                text-align:left;
                position:relative;
                vertical-align:1.7em;
            }
	    }

	    .icon-description {
	        margin-top: 7px;
	    }

		.icon-description {
		    font-size: 1rem;
		}

	    img{
	        width: 100px;
	        height: 100px;
	        display: inline-block;
	        float: left;
	        margin-right: 5px;
	        margin-top:-5px;
	        margin-right:9px;
	    }
	}
}

.container .row {
	margin-left: 0;
	margin-right: 0;
}

#playnow span {
    float:right;
}

#card-locked {
    opacity: 0.6;
}
