.card-desc {
	font-size: 1rem;
}

.card-img {
	width: 1rem;
	height: 1rem;
}

.card .card-title {
	font-size: 1.25rem;
}

.custom-levels-row {
	margin-top: 3.5rem;
}

.container-inner[id$=custom-levels-screen] {
	.icon-description {
		height: 100px;
	}
}
