.card-img {
    width: 1rem;
    height: 1rem;
}

.custom-levels-row {
    margin-top: 3.5rem;
}

.container-inner[id$=custom-levels-screen] {
    .icon-description {
        height: 100px;
    }
}

.input-field#card-checkbox {
	margin-top: 0;
}

#card-checkbox [type="checkbox"]:not(:checked), #card-checkbox [type="checkbox"]:checked {
	position: initial;
}

#card-checkbox [type="checkbox"] + label {
    position: initial;
    padding-left: 0;
}
.input-field#card-checkbox label {
	position: initial;
}