#defeat-pause-victory-screen {

}

#defeat-pause-victory-title {
    font-size: 4rem;
    color: #fff;
    display: block;    
    margin: 0;
}

.defeat-pause-victory-text {
    font-size: 2rem;
    color: #fff;    
    margin: 0;
    display: inline;
    margin-right: 5px;
}
.defeat-pause-victory-note {
    display: block;
    margin-bottom: 15px;
}

.defeat-pause-victory-icons {
    display: block;
}

.material-icons.store {
    color: purple;
    font-size: 4.5em;
    padding-top: 5px;
    display: inline-flex;
    vertical-align: bottom;
}

.material-icons.back {
    color: red;
    font-size: 4.5em;
    transform: rotate(180deg);
    
}

.material-icons.replay {
    color: yellow;
    font-size: 4.5em;
}

.material-icons.share {
    color: green;
    font-size: 4.5em;
}

.material-icons.next {
    color: $primary-color;
    font-size: 4.5em;
}

.material-icons.disabled {
    color: lightgray;
    font-size: 4.5em;
}
