#level-story-screen {
	height:100vh;
}

#level-story-title {
	font-size: 3em;
    color: $primary-color;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    text-align: center;
	padding: 30px;
	margin: 0;
}

#level-story-description {
	font-size: 1em;
	margin-left:9em;
	margin-right:9em;
}

#level-number {
	color: white;
	font-size: 2em;
	position:absolute;
	bottom:0;
	right:2em;
}

#level-story-buttons a {
	margin: 10px auto;
	width: 175px;
	display: block;
}