#pause-screen {
    background: rgba(16, 16, 16, 0.7);
	height: 100vh;
}

#pause-title {
    font-size: 5em;
    color: #fff;
    text-align: center;
	padding: 30px;
	margin: 0;
}

.material-icons.resume {
	color:green;
	font-size:5em;
}

.material-icons.replay {
	color:yellow;
	font-size:5em;
}

.material-icons.back {
	color:red;
	font-size:5em;
	transform: rotate(180deg);
}