#victory-screen {
	background: rgba(16, 16, 16, 0.7);
	height: 100vh;
}

#victory-title {
    font-size: 5.5em;
    color: #fff;
    text-align: center;
	padding: 30px;
	margin: 0;
}

#win-bux {
	width: 50%;
}

.dark {
	color: #fff;
	font-size: 2.5em;
}

.material-icons {
	font-size: 5.5em;
}
.material-icons.store {
	color: purple;
}

.material-icons.back {
	color: red;
	transform: rotate(180deg);
}

.material-icons.replay {
	color: yellow;
}

.material-icons.share {
	color: green;
}

.material-icons.next {
	color: $primary-color;
}