#ad-screen {
    padding-top: 0;
    // ad is a special case which overlays even the navbar
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: 100vw;
}

#ad {
    height: 30em;
    width: 30em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wisteria-icons.close {
    font-size: 3em;
    float: right;
    padding: 15px;
    color: #fff;
    @include transition(all 0.3s linear);

    &:hover {
        color: $primary-color;
    }
}
