#private-custom-levels-screen {
    .card {
        input[type='checkbox'] + label {
            opacity: 0;
            @include transition(opacity, 0.3s, linear);
        }

        input[type='checkbox']:checked + label {
            opacity: 1;
        }

        &:hover {
            input[type='checkbox'] + label {
                opacity: 1;
            }
        }
    }

    .wisteria-icons {
        font-size: 2.2rem;
    }
}

.card-img {
    width: 1rem;
    height: 1rem;
}

#sample-card {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
}

#delete-custom-level{
    background : transparent;
    border: none;
    color: $primary-color;
}

#custom-levels-options li {
    opacity: 1.0;
    @include transition(all, 0.5s, linear);

    &:hover {
        opacity: 0.5;
    }

    a:hover {
        color: $primary-color;
    }
}

.custom-levels-row {
    margin-top: 3.5rem;
}

.container-inner[id$=custom-levels-screen] {
    .icon-description {
        height: 130px;

        span {
            max-height: 100%;
            display: block;
            overflow: hidden;
        }
    }
}

.input-field#card-checkbox {
    margin-top: 0.2em;
}

#card-checkbox [type="checkbox"]:checked,
#card-checkbox [type="checkbox"]:not(:checked) {
    position: initial;
}

#card-checkbox [type="checkbox"] + label {
    position: initial;
    padding-left: 0;
}

.input-field#card-checkbox label {
    position: initial;
}
