#gameplay-screen {
    height: 100%;

     @media screen and (orientation:portrait) {
         display: none;
     }
}

/**
 * All position:fixed elements:
 *
 * - navbar (fixed height)
 * - top toolbar (fixed height)
 * - canvas (variable fill)
 * - bottom toolbar (fixed height)
 */

$toolbar-height: 48px;
$toolbar-height-mobile: 36px;

$toolbar-color: desaturate($primary-color, 20%);
$toolbar-font-color: #000;

#gameplay-area {
    width: 100%;
    position: fixed;
    top: calc(#{$toolbar-height-mobile} + #{$navbar-height-mobile});
    bottom: 0px;

    @media #{$medium-and-up} {
        top: calc(#{$toolbar-height} + #{$navbar-height});
    }

    #gameplay-canvas, #editor-canvas {
        width: 80%;
        height: 100%;
        float: right;
        position: relative;

        canvas {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

#gameplay-sidebar {
    width: 20%;
    height: 100%;
    background-color: $toolbar-color;
    float: left;
    position: relative;
    color: $toolbar-font-color;

    .collapsible {
        font-size: 0.9rem;

        @media #{$medium-and-up} {
            font-size: 1.2rem;
        }

        .collapsible-header {
            padding-left: 0;

            @media #{$medium-and-up} {
                padding-left: 14px;
            }
        }
    }

    .collapse-icon {
        font-size: 0.6rem;
        margin-right: 0;

        @media #{$medium-and-up} {
            font-size: 1.0rem;
        }
    }

    .select-item {
        display: inline-block;
        padding: 5px;
        height: $toolbar-height-mobile;
        width: $toolbar-height-mobile;
        position: relative;
        font-size: 1.1rem;

        @media #{$medium-and-up} {
            height: $toolbar-height;
            width: $toolbar-height;
        }

        &.selected {
            img {
                border: 2px solid $highlight-color;
            }
        }

        img {
            border-radius: 50%;
            max-width: 100%;
            max-height: 100%;
        }

        .item-count {
            position: absolute;
            top: 0%;
            right: 0%;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: $highlight-color;
            color: #fff;
            text-align: center;
        }
    }

    .toolbar-item {

        .wisteria-icons {
            font-size: 1.8rem;
        }

        padding: 10px;
    }
}

/**
 * Gameplay Toolbar
 * Also applies to level editor
 */
.gameplay-toolbar {
    background-color: $toolbar-color;
    height: $toolbar-height-mobile;
    color: $toolbar-font-color;
    padding: 0 10px;
    width: 100%;
    position: fixed;

    @media #{$medium-and-up} {
        height: $toolbar-height;
    }

    #playpause-button {
        float: left;
        margin-left: 0;
    }

    #cheat-button {
        float: right;
        margin-right: 0;
    }

    .toolbar-item {
        margin: 0 10px;
        display: inline-block;
        height: 100%;
        vertical-align: middle;

        a {
            line-height: $toolbar-height-mobile;

            @media #{$medium-and-up} {
                line-height: $toolbar-height;
            }
        }

        .wisteria-icons {
            font-size: 1.5rem;
            color: $highlight-color;
            vertical-align: middle;

            @media #{$medium-and-up} {
                font-size: 2.5rem;;
            }
        }

        input {
            margin: 0;
        }
    }

    .toolbar-content {
        position: relative;
        height: 100%;
        text-align: center;

        .progress {
            top: 50%;
            left: 50%;
            transform: translate(-50%);
            position: absolute;
            z-index: 5;
            margin: 0;
            width: 90%;

            .determinate {
                @include transition(width 1s linear);
            }
        }

        #timer-display {
            background-color: $toolbar-color;
            position: absolute;
            z-index: 6;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
            font-size: 0.85rem;

            @media #{$medium-and-up} {
                font-size: 1.2rem;
            }
        }
    }

    // fix for small screens
    .dropdown-content {
        max-height: 300px;
        z-index: 3;

        @media #{$medium-and-up} {
            max-height: 500px;
        }
    }

    &.toolbar-top {
        top: $navbar-height-mobile;

        @media #{$medium-and-up} {
            top: $navbar-height;
        }
    }

    &.toolbar-bottom {
        bottom: 0px;

        #unit-select-menu {
            min-width: 200px;
        }

        z-index: 7;
    }

    .wisteria-icons {
        opacity: 1.0;
        @include transition(all, 0.3s, linear);

        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }
}
