#gameplay-screen {
    height: 100%;
}

.toolbar {
    height: 10%;
    background: $primary-color;
    width: 100%;
    position: relative;
}

.canvas {
    height: 80%;
}

.material-icons.play {
    color: #26a69a;
    font-size: 2.3em;
}
.material-icons.lock {
    color: #26a69a;
    font-size: 2.3em;
}

.dropdown-button.btn.small {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.80rem;
    height: 25px;
    line-height: 25px;
}

.toolbar.bottom .dropdown-content li {
    min-height: 0px;
    border-bottom: 1px solid #aaa;

    &:last-child {
        border-bottom: none;
    }
}

.toolbar.bottom .dropdown-content li>a {
    font-size: 0.60rem;
    line-height: 20px;
    padding: 5px;

    @media #{$medium-height-and-up} {
        font-size: 0.9rem;
    }
}

.bottom.align {
    display: inline-block;
    height: 50%;
    vertical-align: top;
    margin-left: 5%;
}

.progress {
    margin: 0;
}

.padder {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.toolbar-text {
    font-size: 1rem;
}

.toolbar-content {
    position: absolute;
    top: 48%;
    left: 0%;
    margin-top: -1em;
    width:100%;
}
