#gameplay-screen {
    height: 100%;

     @media screen and (orientation:portrait) {
         display: none;
     }
}

/**
 * Gameplay Toolbar
 * Also applies to level editor
 */
.gameplay-toolbar {
    background-color: $primary-color;
    height: 36px;
    padding: 0 20px;
    width: 100%;

    @media #{$medium-and-up} {
        height: 48px;
    }

    .toolbar-item {
        margin: 0 10px;
        display: inline-block;
        height: 100%;
        vertical-align: middle;

        a {
            line-height: 36px;

            @media #{$medium-and-up} {
                line-height: 48px;
            }
        }

        .wisteria-icons {
            font-size: 2.5rem;
            color: $highlight-color;
            vertical-align: middle;
        }

        input {
            margin: 0;
        }
    }

    .toolbar-content {
        position: relative;
        height: 100%;

        .progress {
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            z-index: 5;
            margin: 0;

            .determinate {
                @include transition(width 1s linear);
            }
        }

        #timer-display {
            background-color: $primary-color;
            position: absolute;
            z-index: 6;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
            font-size: 0.85rem;

            @media #{$medium-and-up} {
                font-size: 1.2rem;
            }
        }
    }

    &.toolbar-top {
    }

    &.toolbar-bottom {
        position: absolute;
        bottom: 0px;

        #unit-select-menu {
            min-width: 200px;
        }
    }
}
