#editor-screen {
    height: 100%;

     @media screen and (orientation:portrait) {
         display: none;
     }
}

/**
 * All position:fixed elements:
 *
 * - navbar (fixed height)
 * - top toolbar (fixed height)
 * - canvas (variable fill)
 * - bottom toolbar (fixed height)
 */

$toolbar-height: 48px;
$toolbar-height-mobile: 36px;

#editor-canvas {
    text-align: center;
    width: 100%;
    position: fixed;
    top: calc(#{$toolbar-height-mobile} + #{$navbar-height-mobile});
    bottom: $toolbar-height-mobile;

    @media #{$medium-and-up} {
        top: calc(#{$toolbar-height} + #{$navbar-height});
        bottom: $toolbar-height;
    }

    canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.switch {
    display: inline-block;
}

.switch label .lever {
    background-color: $enemy-light;
    vertical-align: text-bottom;
    margin-right: 0;
    margin: 0 15px;
}
.switch label .lever:after {
    background-color: $enemy-color;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #a057c1;
}
.switch label input[type=checkbox]:checked + .lever:after {
    background-color: $primary-dark;
}

.toolbar-item .enemy-switch .wisteria-icons {
    color: $enemy-color;
}
.toolbar-item .friendly-switch .wisteria-icons {
    color: $primary-dark;
}

.range-field#timeline {
    margin-top: 0;
}
