#level-editor {
    height: 100%;
}

.material-icons.clear-cell {
    color: #26a69a;
    font-size: 2.3em;
}

.switch {
    display: inline-block;
}

.switch label .lever {
    background-color: $enemy-light;
    vertical-align: super;
    margin-right: 0;
    margin: 0 15px;
}
.switch label .lever:after {
    background-color: $enemy-color;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #a057c1;
}
.switch label input[type=checkbox]:checked + .lever:after {
    background-color: $primary-dark;
}

.enemy-swatch {
    color: $enemy-color;
    font-size: 1.5rem;
}
.friendly-swatch {
    color: $primary-dark;
    font-size: 1.5rem;
}

.range-field#timeline {
    margin-top: 0;
}

#timeline input[type=range] {
    margin: 0;
}

#timeline input[type=range] + .thumb {
    z-index: 50;
}

.padder2 {
    padding-left: 2em;
    display:inline-block;
    width: 90%;
    float: left;
}
