#splash-title {
    font-size: 5.5em;
    color: #fff;
    text-align: center;
    padding: 60px;
    margin: 0;
}

#splash-buttons a {
    margin: 10px auto;
    width: 175px;
    display: block;
}

#user-actions button {
    margin:10px auto;
    width:175px;
    display:none;
}

@media #{$medium-height-and-down} {
    #splash-title {
        font-size: 3.5em;
        padding: 40px;
    }

    #splash-buttons a {
        width: 155px;
    }

    .btn-large {
        height: 42px;
        line-height: 42px;
    }
}
