#store-screen {
    .wisteria-icons {
        font-size: 2.2rem;
    }
    .buy-button{
    	border: 0px;
    	background: transparent;
    }
    #sample-powerups-card {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
}
}
